        body {
            background-color: #111;
            color: #f2f2f2;
            font-family: Arial, sans-serif;
            padding: 40px;
            line-height: 1.8;
        }

        h1 {
            color: #ff4444;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background: #444;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background: #666;
        }

        body {
            margin-top: 60px;
            justify-content: center;
            background-image: url("../image/fundo.jpg");
                background-color: #11111196;
            background-blend-mode: darken;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

@media (max-width:780px){

    body{
        margin: auto;
    }

    h1{
        font-size: 28px;
        margin-top: 30px;
    }

    p{
        font-size: 17px;
    }

    a{
        display: block;
        text-align: center;
        width: 90%;
        margin-top: 100px;
    }
}

